.link_decoration {
  text-decoration: none;
  color: rgb(59, 58, 58);
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.carousel_heading {
  top: 10%;
  left: 10%;
  width: 45%;
}
.carousel_heading .carousel-h1 {
  font-size: 6rem;
  text-shadow: 3px 3px 5px rgb(58, 58, 58);
  /* letter-spacing: 3px; */
  font-weight: 700;
}
.carousel_heading .carousel_btn {
  margin: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  box-shadow: 3px 3px 8px #2d2c2c;
}

.tranding_cate_img {
  width: 30%;
  background-color: rgb(43, 45, 50);
  box-shadow: 0px 0px 10px rgb(86, 138, 196);
  padding: 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}
.tranding_cate_img img {
  height: 100%;
  width: 100%;
}

.tranding_cate_img:hover {
  transform: scale(1.1);
}

.slider_manu {
  width: 12rem;
  padding: 2rem;
}
.slider_manu .slider_manu_prod {
  width: 150px;
  height: 150px;
  box-shadow: 0px 0px 10px rgb(86, 138, 196);
  background-color: rgb(27, 28, 31);
  margin-left: auto;
  margin-left: auto;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.slider_manu .slider_manu_prod img {
  padding: 1.3rem;
}
.slider_manu .slider_manu_prod h6 {
  text-align: center;
  color: white;
  padding: 1rem 0;
}
.slider_manu .slider_manu_prod:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 30px rgb(137, 86, 196);
}

.card_div {
  width: 18rem;
  color: white;
  background-color: rgb(43, 45, 50);
  box-shadow: 0px 0px 10px rgb(86, 138, 196);
  background-color: rgb(27, 28, 31);
  transition: all 0.3s ease;
}
.card_div .checked {
  color: orange;
}

.card_div:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 20px rgb(242, 242, 242);
}

.big_discount_div {
  text-align: center;
  color: white;
  background-image: url(images/prod_iphone.png);
  height: 30rem;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1400px) {
  .carousel_heading .carousel-h1 {
    font-size: 4.5rem;
  }
  .carousel_heading .carousel_btn {
    margin: 2rem;
    font-size: 2rem;
  }
  #best_seller_div {
    width: 100% !important;
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  .carousel_heading .carousel-h1 {
    font-size: 3.5rem;
  }
  .carousel_heading .carousel_btn {
    margin: 2rem;
    font-size: 1.5rem;
  }
  #Carousel_slider_div {
    width: 100% !important;
    padding: 0 !important;
    gap: 0 !important;
  }
  #best_seller_div {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 960px) {
  .carousel_heading .carousel-h1 {
    font-size: 3rem;
  }
  .carousel_heading .carousel_btn {
    margin: 1.5rem;
    font-size: 1rem;
  }
  .tranding_cate_img {
    width: 100%;
    padding: 1rem;
  }
  #Carousel_slider_div {
    width: 100% !important;
    padding: 0 !important;
    gap: 0 !important;
  }
  .slider_manu {
    width: 5rem;
    padding: 2rem;
  }
  .slider_manu .slider_manu_prod {
    width: 140px;
    height: 140px;
  }
  .slider_manu .slider_manu_prod img {
    padding: 1rem;
  }
  .slider_manu .slider_manu_prod h6 {
    text-align: center;
    color: white;
    padding: 1rem 0;
  }
  h1 {
    text-align: center;
  }
}
@media (max-width: 720px) {
  .carousel_heading .carousel-h1 {
    font-size: 2.5rem;
  }
  .carousel_heading .carousel_btn {
    margin: 1rem;
    font-size: 0.7rem;
  }
  #trending_div {
    flex-direction: column;
    gap: 0.5rem;
  }
  #Carousel_slider_div {
    width: 100% !important;
    padding: 0 !important;
    gap: 0 !important;
  }
  .slider_manu {
    width: 5rem;
    padding: 2rem;
  }
  .slider_manu .slider_manu_prod {
    width: 130px;
    height: 130px;
  }
  #footer_div {
    font-size: 0.8rem;
  }
  #footer_div h5 {
    font-size: 0.8rem;
  }
  #footer_div h2 {
    font-size: 1.2rem;
  }
  #best_seller_h1 {
    text-align: center;
  }
}
@media (max-width: 540px) {
  .carousel_heading .carousel-h1 {
    font-size: 1.3rem;
  }
  .carousel_heading .carousel_btn {
    margin: 0.6rem;
    font-size: 0.8rem;
  }
  .slider_manu {
    width: 3rem;
    padding: 1.5rem;
  }
  .slider_manu .slider_manu_prod {
    width: 80px;
    height: 80px;
  }
  #footer_div {
    font-size: 0.8rem;
  }
  #footer_div h2 {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */